
{% extends "base.html.twig" %}
 
{% block title %} BULUTRON {% endblock %}

{% block body %}

<div class="container">
<div class ="row">
    <div class= "col-md-8">
<table class="table table-striped" style="border-style: solid;  border-width: 1px 1px; border-color:#ddd;">

 <tbody>
    <tr><th>
    Dosyalar<td></td><td></td><td></td></th>
    
     <tr>
         <td style = "font-weight:bold">Yüklenme Zamanı</td>
         <td style = "font-weight:bold">Dosya Büyüklüğü</td>
         <td></td>
         <td></td>
   
  </tr>
    
    {% set i = 0 %}
    {% set toplam = 0 %}
    {% for object in list %}
    {% set i = i + 1 %}

   <tr>

  <td class = "say" id ="say{{object.id}}" >{{object.uploadTime|date("jS F Y h:i ")}}</td>
  {% set size = object.fileSize %}
  {% if size < 1024  %}
  <td>{{size}}KB</td>
  {% endif %}
  {% if size > 1024 %}
  {% set fsize = size / 1024 %}
   <td> {{fsize|round(1, 'floor')}}MB</td>
  {% endif %}
  {% set toplam = size + toplam %} 
   {% set link = object.path %} 
    <td><a href="/download/{{link}}" class="btn btn-default btn-sm " >İndir</a>
    
  <a href= "delete/{{ object.id}}" id="sil{{object.id}}" class="btn btn-danger btn-sm" onClick="return confirm('Silmek İstediğinize Emin misin?')" >Sil</a></td>
         <td></td>

</tr>
{% endfor %}
 <tr><th>
   {% if toplam < 1024 %}
   <table><th>Toplam {{(toplam / 1024)|round(2, 'floor')}} KB alan kullanan {{i}} dosyanız bulunuyor.</th></table>
   {% endif %}
   {% if toplam > 1024 %}
   <table><th>Toplam {{(toplam / 1024)|round(2, 'floor')}} MB alan kullanan {{i}} dosyanız bulunuyor.</th></table>
   {% endif %}<td></td><td></td><td></td></th>
     </tbody></table>
   </div>

  
     <div class="col-md-4">
       <table class="table table-striped table-bordered">
           <tr><td>Yeni Dosya</br></td></tr>
       <th>
           {{ form_start(upload_form) }}
           {{ form_widget(upload_form) }}
       </th>
       
             {{ form_row(upload_form.uploadfile) }}
   
   <tr><td>
    
    <input type="submit" class="btn btn-primary" style ='margin-left:300px' value="Yükle"/>
 </table>
   </td></tr>
    
    
      </table>
   </div>
</div>

 
{{ form_end(upload_form) }}

     


{% endblock %}