
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BULUTRON{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
        
    </head>
    <body>
            <nav class="navbar navbar-inverse">
            <div class="container">
            <div class="navbar-header">
         
             <a class="navbar-brand" href="#">Bulutron</a>
                </div>
                
                 <div id="navbar" class="collapse navbar-collapse">
                 <ul class="nav navbar-nav">
                 <li ><a href="{{ path('anasayfa') }}">Anasayfa</a></li>
                 <li><a href="{{ path('dosya') }}">Dosyalar</a></li>
                 </ul>


          </div>
               
            </div>
        </nav>
    </body>
    {% block body %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block javascripts %}{% endblock %}
</html>